* {
  margin: 0;
}


.App {
  background: #fafafafa;
  /* height: 100vh; */
}


.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  contain: content; /*keep the aspect ration*/
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  object-fit: contain;
}


.app__signup {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}


.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;

}


.app__postRight {
  margin-left: 20px;
}